@use "./varibles" as *;

@mixin baseFlex {
  display: flex;
}

@mixin lowFlex {
  display: flex;
  align-items: center;
}

@mixin mediumFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin advancedFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

@mixin myButton {
  padding: 10px 55px;
  border: 0px;
  color: #fff;
  background-color: $primary-color;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
